<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.examsys.dao.ExamDao">
    <resultMap id="examMap" type="com.qf.examsys.entity.Exam">
        <id column="e_id" property="eId"></id>
        <result column="e_name" property="eName"></result>
        <result column="begin_time" property="beginTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="p_id" property="pId"></result>
    </resultMap>
    <select id="allExam" resultMap="examMap">
        select e_id, e_name, begin_time, end_time from t_exam
    </select>
    <insert id="addTime">
        insert into exam_system.t_exam (e_name, begin_time, end_time) values (#{eName},#{beginTime},#{endTime})
    </insert>
    <delete id="delTimeById">
        delete from exam_system.t_exam where e_id = #{eId}
    </delete>
    <select id="findExamById" resultMap="examMap">
        select * from exam_system.t_exam where  e_id = #{eId}
    </select>
    <update id="updExam">
        update exam_system.t_exam set e_name = #{eName}, begin_time =#{beginTime}, end_time = #{endTime} where e_id = #{eId}
    </update>
</mapper>