<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.examsys.dao.UserDao">
    <resultMap id="intMap" type="com.qf.examsys.entity.Score">
        <id column="sc_id" property="scId"/>
        <result column="s_choose_score" property="chooseScore"/>
        <result column="s_judge_score" property="judgeScore"/>
        <result column="s_brief_sore" property="briefScore"/>
        <result column="s_total_core" property="totalScore"/>

    </resultMap>

</mapper>