<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.examsys.dao.StatisticsDao">
    <!--用户-->
    <resultMap id="user" type="com.qf.examsys.entity.User">
        <id column="u_id" property="uid"></id>
        <result column="u_name" property="uName"></result>
        <result column="u_phone" property="uPhone"></result>
        <result column="u_password" property="uPassword"></result>
        <result column="status" property="uStatus"></result>
    </resultMap>

    <!--科目-->
    <resultMap id="subject" type="com.qf.examsys.entity.Subject">
        <id column="s_id" property="sid"></id>
        <result column="s_name" property="sName"></result>
    </resultMap>

    <!--试卷-->
    <resultMap id="page" type="com.qf.examsys.entity.Page">
        <id column="p_id" property="pid"></id>
        <result column="p_title" property="pTitle"></result>
        <result column="s_id" property="sid"></result>
        <result column="choose" property="choose"></result>
        <result column="judge" property="judge"></result>
        <result column="brief" property="brief"></result>
        <result column="status" property="pStatus"></result>
    </resultMap>


    <!--考试-->
    <resultMap id="exam" type="com.qf.examsys.entity.Exam">
        <id column="e_id" property="eId"></id>
        <result column="e_name" property="name"></result>
        <result column="begin_time" property="beginTime"></result>
        <result column="end_time" property="endTime"></result>

        <collection property="page" resultMap="page"></collection>
    </resultMap>

    <!--成绩-->
    <resultMap id="score" type="com.qf.examsys.entity.Score">
        <id column="sc_id" property="scId"></id>
        <result column="s_choose_score" property="chooseScore"></result>
        <result column="s_judge_score" property="judgeScore"></result>
        <result column="s_brief_sore" property="briefScore"></result>
        <result column="s_total_core" property="totalScore"></result>

        <collection property="user" resultMap="user"></collection>
        <collection property="subject" resultMap="subject"></collection>
        <collection property="exam" resultMap="exam"></collection>

    </resultMap>

    <resultMap id="apply" type="com.qf.examsys.entity.Apply">
        <id column="apply_id" property="applyId"></id>
        <result column="time" property="time"></result>

        <collection property="user" resultMap="user"></collection>
        <collection property="exam" resultMap="exam"></collection>
        <collection property="subject" resultMap="subject"></collection>
    </resultMap>

    <select id="listPersonalScore" resultMap="score">
        SELECT
        t_score.sc_id,
        t_score.u_id,
        t_score.s_id,
        t_score.s_choose_score,
        t_score.s_judge_score,
        t_score.s_brief_sore,
        t_score.s_total_core,
        t_score.e_id,
        t_user.u_name,
        t_subject.s_name,
        t_exam.e_name,
        t_exam.begin_time,
        t_exam.end_time,
        t_exam.p_id
        FROM
        t_score ,
        t_user ,
        t_subject ,
        t_exam
        <where>
            t_score.u_id = t_user.u_id AND
            t_score.s_id = t_subject.s_id AND
            t_score.e_id = t_exam.e_id

            <if test="eId != null and eId != ''">
                and t_exam.e_id = #{eId}
            </if>
            <if test="sid != null and sid != ''">
                and t_subject.s_id = #{sid}
            </if>
            <if test="uid != null and uid != ''">
                and t_user.u_id = #{uid}
            </if>

            ORDER BY t_user.u_id ASC
        </where>
    </select>

    <select id="listApply" resultMap="apply">
        SELECT
        t_apply.apply_id,
        t_apply.time,
        t_exam.e_name,
        t_exam.begin_time,
        t_exam.end_time,
        t_exam.p_id,
        t_page.p_title,
        t_page.s_id,
        t_page.choose,
        t_page.judge,
        t_page.brief,
        t_page.`status`,
        t_exam.e_id,
        t_page.p_id,
        t_subject.s_id,
        t_subject.s_name,
        t_apply.u_id
        FROM
        t_apply ,
        t_exam ,
        t_page ,
        t_subject
        FROM
        t_apply ,
        t_exam ,
        t_page ,
        t_subject
        <where>
            t_apply.e_id = t_exam.e_id AND
            t_apply.s_id = t_subject.s_id AND
            t_exam.p_id = t_page.p_id
            <if test="uid != null and uid != ''">
                and t_apply.u_id = #{uid}
            </if>
            <if test="sid != null and sid != ''">
                and t_apply.s_id = #{sid}
            </if>
            <if test="time != null">
                and t_apply.time BETWEEN #{time} AND DATE_ADD(#{time},INTERVAL 1 DAY)
            </if>

            ORDER BY t_apply.apply_id desc

        </where>
    </select>
</mapper>


