<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.examsys.dao.UserDao">
    <resultMap id="userMap" type="com.qf.examsys.entity.User">
        <id column="u_id" property="uid"/>
        <result column="u_phone" property="uPhone"/>
        <result column="u_password" property="uPassword"/>
        <result column="u_name" property="uName"/>
        <result column="u_status" property="uStatus"/>
        <result column="ro_id" property="roId"/>
    </resultMap>
    <insert id="insert">
        insert into t_user(u_phone,u_password,u_name,ro_id) values(#{uPhone},#{uPassword},#{uName},#{roId})
    </insert>
    <!--<insert id="insertSelective" parameterType="com.qf.examsys.entity.User" >-->
        <!--insert into t_user-->
        <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->

            <!--<if test="u_phone != null" >-->
                <!--uPhone,-->
            <!--</if>-->
            <!--<if test="u_password != null" >-->
                <!--uPassword,-->
            <!--</if>-->
            <!--<if test="u_name != null" >-->
                <!--uName,-->
            <!--</if>-->
            <!--<if test="ro_id != null" >-->
                <!--roId,-->
            <!--</if>-->



        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->

            <!--<if test="u_phone != null" >-->
                <!--#{uPhone},-->
            <!--</if>-->
            <!--<if test="u_password != null" >-->
                <!--#{uPassword},-->
            <!--</if>-->
            <!--<if test="u_name != null" >-->
                <!--#{uName},-->
            <!--</if>-->
            <!--<if test="ro_id != null" >-->
                <!--#{roId},-->
            <!--</if>-->

        <!--</trim>-->
    <!--</insert>-->
    <select id="login" parameterType="String" resultMap="userMap">
        select * from t_user where u_phone =#{uphone}
    </select>

    <select id="findByUserId" resultMap="userMap">
        select * from t_user where u_id=#{uId}
    </select>

    <update id="updatePersonPassword" parameterType="com.qf.examsys.entity.User">
        update t_user set u_password=#{uPassword} where u_id = #{uid}
    </update>


    <select id="selectScoreById" parameterType="com.qf.examsys.entity.Score" resultMap="userMap">
      select s_total_core from t_score where u_id = #{uid}
    </select>

</mapper>